/*========================
GLOBAL
========================*/

.btnsigni{
margin:2px 2px 0 0;
background:#ffffff;
}
.btnsigni:hover{
background:#ccc5c5;

}
.btnsignu{
margin:2px 2px 0 0;
background:#ff6868;
}
.btnsignu:hover{
margin:2px 2px 0 0;
background:##d65757;
}
.licategory{
font-size: 16px;
}

.cartshop{
margin:7px;
width: 30px;
height: auto;
padding: auto;
}
.form-control{
background: #CCC;
}
.span:hover{
	padding: 10px;
background: #ec5252

}

*{
margin: 0px;
padding: 0px;
list-style: none;
text-decoration: none;
font-family: 'Ubunt', sans-serif;
}
ul,ol{
	padding: 0px;
}

a:visited, a:link, a:focus, a:hover, a:active{
list-style: none;
text-decoration: none;
}
.barraRedesSociales{
background: black;
}
.barraSuperior a{
color: white;
}
.barraSuperior {
background: ;
}

.backColor {
background: #CCC;
}

.backColor, .backColor a {
background: #0263ff;
color: white;


}

/*========================
REDES SOCIALES
========================*/

.redSocial{
width: 30px;
height: 30px;
text-align: center;
line-height: 30px;
}

/* FACEBOOK*/
.facebookBlanco{
	color:white;
}

.facebookNegro{
	color:black;
}

.facebookColor{
	color:white;
	background:#46639f;
}

/*YOUTUBE*/

.youtubeColor{
	color:white;
	background:#d6513e;
}

.youtubeBlanco{
	color:white;
}

.youtubeNegro{
	color:black;
}

/*TWITTER*/

.twitterColor{
	color:white;
	background:#0ab2e6;
}

.twitterBlanco{
	color:white;
}

.twitterNegro{
	color:black;
}

/*GOOGLE PLUS*/

.googleColor{
	color:white;
	background:#d71617;
}

.googleBlanco{
	color:white;
}

.googleNegro{
	color:black;
}

/*INSTAGRAM*/

.instagramColor{
	color:white;
	background:linear-gradient(45deg, #fca925, #ee1d5f,  #6350a2);

}

.instagramBlanco{
	color:white;
}

.instagramNegro{
	color:black;
}






